.git
.idea

.env
env.php

/root/

snippets.php

/apache2/
/lang/
/log/
/mysql/
/tmp/
/php/

out
nohup.out
/settings/
usbwebserver.exe
yandex.feed.csv

/public/var/
/public/upload/
/public/cache/

/public/sitemaps/
/public/sitemap.xml

/public/yandex.feed.csv
/public/yandex_*.html

/public/icons/
/public/favicon.png
/public/favicon.ico
