/*
    Atlanta Brewing
    https://designshack.net/articles/trends/best-website-color-schemes/
*/

/*

body { background: #F7F4E9 !important; color: #284250; }

.qam-main-nav-wrapper { background: #284250; color: #f8f6f2; }
.qa-nav-main-link { background-color: #284250; }
.qam-account-items { background-color: #284250; }
.qa-nav-main-link.qa-nav-main-selected { background: #446688; }
.qa-nav-sub-link.qa-nav-sub-selected, .qa-nav-sub-link:visited.qa-nav-sub-selected, .qa-nav-sub-link:hover.qa-nav-sub-selected { background-color: #446688; color: #fff; }

.qa-logo a, .qa-logo a:visited { color: #f8f6f2; }
.qa-nav-main-item a, .qa-nav-main-item a:visited { color: #F7F4E9; }

.qa-form-light-button { background-color: #58a8b2; color: #f8f6f2; }

a { color: #3288ae; }
a:visited { color: #3288ae; }

.qa-q-item-title a { color: #3288ae; }
.qa-q-item-title a:hover, .qa-q-item-title a:active, .qa-q-item-title a:focus, .qa-q-item-title a:visited { color: #3288ae; }

.qa-tag-link, .qa-widget-side .qa-q-view-tag-item { background: #f8f6f2; color: #284250 !important; }

code, samp, kbd { color: #284250; background-color: #f8f6f2; }
pre, blockquote { background-color: #f8f6f2; border-left: 2px solid #EBA63F; }

h1, h1 a { color: #284250; opacity: 1; }
h1 a:hover, h1 a:focus, h1 a:visited { color: #284250; opacity: 1; }

#a_list_title { background: #d26262; color: #f8f6f2; }

.qa-suggest-next { background: #284250; color: #f8f6f2; }

*/
